# AI DLC Config / Documentation
.amazonq
aidlc-docs

# Kiro
.kiro

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.so
venv/
.venv/
*.egg-info/

# Environment variables
.env
.env.local

# Database
*.db
*.sqlite
*.sqlite3

# Testing
.pytest_cache/
.coverage
htmlcov/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/

# Logs
*.log
